# Ignore Django specific files
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
*.egg

# Ignore Docker specific files
docker-compose.override.yml
docker-compose.prod.yml
.dockerignore

# Ignore local development settings
*.env

# Ignore database files
db.sqlite3
*.sql

# Ignore static files
staticfiles/
media/

# Ignore VSCODE devcontainer plugin
.devcontainer
